body{
    background-color: rgb(4, 17, 53);    
}
a{
    color: rgb(0, 0, 0);
    size: 500px;
    text-align: center;
    
}
a:link {
    text-decoration: none;
}

a:hover{
    color: rgb(39, 86, 218);
}

.fixedCard{
    text-align: center;
    background-color: #4269beb0   ;
    text-align: center;
    margin: 30px 10px 30px;
    max-height: 300px;
    max-width: 900px;
}

img{
    max-height: 250px;
    max-width: 250px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}