body{
    background-color: rgb(4, 17, 53);
}

.bg-cool{
    background-color: #4269beb0;
    color: white;
    text-align: center;
    max-height: 80%;
}
select{
    margin-top: 1%;
    margin-bottom: 5%;
}
.fixed-ul {
    margin-bottom: 90px;
    text-align: left;
    overflow: scroll;
    max-height: 700px;
    min-height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    
    border: 2px solid #ccc;
    
    font-size: 20px;

    font-family: Arial, sans-serif;
    
    -webkit-overflow-scrolling: touch;
  }
  
.fixed-li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  