body{
    background-color: rgb(0, 0, 0);
    
}
li:focus {
    background: lightgreen;
  }

.bg-cool{
    background-color: #ffffff;
    color: white;
    text-align: center;
    max-height: 80%;
}
li{color:black;}

.fixed-ul {
    margin-bottom: 90px;
    text-align: left;
    overflow: scroll;
    max-height: 300px;
    min-height: 100px;
    width: 100%;
    margin: 10px 20px;
    padding: 0;
    
    border: 2px solid #ccc;
    
    font-size: 20px;

    font-family: Arial, sans-serif;
    
    -webkit-overflow-scrolling: touch;
  }
  
.fixed-li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
button{
    margin: 10px 10px;
    
}
form{
    background-color: white;
}
  